
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-2">
      <div class="brand-card">
        <div class="brand-card-header bg-primary">
          <i class="fa fa-facebook"></i>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-1 col-lg-1"></div>
    <div class="col-sm-6 col-lg-2">
      <div class="brand-card">
        <div class="brand-card-header bg-success">
          <i class="fa fa-twitter"></i>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-1 col-lg-1"></div>
    <div class="col-sm-6 col-lg-2">
      <div class="brand-card">
        <div class="brand-card-header bg-warning">
          <i class="fa fa-linkedin"></i>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-1 col-lg-1"></div>
    <div class="col-sm-6 col-lg-2">
      <div class="brand-card">
        <div class="brand-card-header bg-danger">
          <i class="fa fa-google-plus"></i>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-primary">
          <div class="card-body pb-0">
            <button type="button" class="btn btn-transparent p-0 float-right">
              <i class="icon-location-pin"></i>
            </button>
            <div class="text-value">9.823</div>
            <div>Members online</div>
          </div>
          <!-- <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas baseChart class="chart"
            [datasets]="lineChart2Data"
            [labels]="lineChart2Labels"
            [options]="lineChart2Options"
            [colors]="lineChart2Colours"
            [legend]="lineChart2Legend"
            [chartType]="lineChart2Type"></canvas>
          </div> -->
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-success">
          <div class="card-body pb-0">
            <div class="btn-group float-right" dropdown>
              <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            <div class="text-value">9.823</div>
            <div>Members online</div>
          </div>
          <!-- <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas baseChart class="chart"
                    [datasets]="lineChart1Data"
                    [labels]="lineChart1Labels"
                    [options]="lineChart1Options"
                    [colors]="lineChart1Colours"
                    [legend]="lineChart1Legend"
                    [chartType]="lineChart1Type"></canvas>
          </div> -->
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-warning">
          <div class="card-body pb-0">
            <div class="btn-group float-right" dropdown>
              <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            <div class="text-value">9.823</div>
            <div>Members online</div>
          </div>
          <!-- <div class="chart-wrapper mt-3" style="height:70px;">
            <canvas baseChart class="chart"
            [datasets]="lineChart3Data"
            [labels]="lineChart3Labels"
            [options]="lineChart3Options"
            [colors]="lineChart3Colours"
            [legend]="lineChart3Legend"
            [chartType]="lineChart3Type"></canvas>
          </div> -->
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-danger">
          <div class="card-body pb-0">
            <div class="btn-group float-right" dropdown>
              <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            <div class="text-value">9.823</div>
            <div>Members online</div>
          </div>
          <!-- <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
            <canvas baseChart class="chart"
            [datasets]="barChart1Data"
            [labels]="barChart1Labels"
            [options]="barChart1Options"
            [colors]="barChart1Colours"
            [legend]="barChart1Legend"
            [chartType]="barChart1Type"></canvas>
          </div> -->
        </div>
      </div><!--/.col-->
    </div><!--/.row-->

    <div class="row">
      <div class="col-lg-6">    
        <!--Accordian 1-->
        <div class="animated fadeIn">
          <div class="card">
            <div class="card-header bg-primary">
              Bootstrap Collapse
              <div class="card-header-actions">
                <button type="button" class="btn btn-primary"
                      (click)="isCollapsed = !isCollapsed"> 
                      <div *ngIf="isCollapsed;else other_content"><span >+</span></div>
                      <ng-template #other_content><div><span >-</span></div></ng-template>
                </button> 
              </div>
            </div>
            <div class="card-body"
                  (collapsed)="collapsed($event)"
                  (expanded)="expanded($event)"
                  [collapse]="isCollapsed">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                consequat.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
      <!--Accordian 2-->
        <div class="animated fadeIn">
          <div class="card">
            <div class="card-header bg-primary">
              Bootstrap Collapse
              <div class="card-header-actions">
                <button type="button" class="btn btn-primary"
                      (click)="isCollapsed2 = !isCollapsed2"> 
                      <div *ngIf="isCollapsed2;else other_content"><span >+</span></div>
                      <ng-template #other_content><div><span >-</span></div></ng-template>
                </button> 
              </div>
            </div>
            <div class="card-body"
                  (collapsed)="collapsed($event)"
                  (expanded)="expanded($event)"
                  [collapse]="isCollapsed2">
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
                consequat.
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>

          <!-- 3D pie chart 1 code start -->
          <div class="card-columns cols-2"> 
                <!-- <div id="container"></div> -->
                <google-chart #chart
                  [title]="Gtitle"
                  [type]="Gtype"
                  [data]="Gdata"
                  [columnNames]="GcolumnNames"
                  [options]="Goptions"
                  [width]="Gwidth"
                  [height]="Gheight">
                </google-chart>

                <!-- <div id="container_new"></div> -->
                <google-chart #chart
                  [title]="Gtitle"
                  [type]="Gtype"
                  [data]="Gdata"
                  [columnNames]="GcolumnNames"
                  [options]="Goptions"
                  [width]="Gwidth"
                  [height]="Gheight">
                </google-chart>   
          </div>
          <!-- 3D pie chart 1 code end -->


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Traffic &amp; Sales
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">


                <div class="card-body">
                  <div class="chart-wrapper">
                    <h6 style="text-align: center;">Emails by user (Bar)</h6>
                    <div style="display: block;">
                    <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
                      [options]="barChartOptions" [chartType]="barChartType"
                      (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                  </div>
                </div>


              </div><!--/.col-->
            </div><!--/.row-->
            <br>
            
            <div class="row">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i> Simple Table
                  </div>
                  <div class="card-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Username</th>
                          <th>Date registered</th>
                          <th>Role</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Samppa Nori</td>
                          <td>2012/01/01</td>
                          <td>Member</td>
                          <td>
                            <span class="badge badge-success">Active</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Estavan Lykos</td>
                          <td>2012/02/01</td>
                          <td>Staff</td>
                          <td>
                            <span class="badge badge-danger">Banned</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Chetan Mohamed</td>
                          <td>2012/02/01</td>
                          <td>Admin</td>
                          <td>
                            <span class="badge badge-secondary">Inactive</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Derick Maximinus</td>
                          <td>2012/03/01</td>
                          <td>Member</td>
                          <td>
                            <span class="badge badge-warning">Pending</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Friderik Dávid</td>
                          <td>2012/01/21</td>
                          <td>Staff</td>
                          <td>
                            <span class="badge badge-success">Active</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                      <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--/.col-->
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i> Striped Table
                  </div>
                  <div class="card-body">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Username</th>
                          <th>Date registered</th>
                          <th>Role</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Yiorgos Avraamu</td>
                          <td>2012/01/01</td>
                          <td>Member</td>
                          <td>
                            <span class="badge badge-success">Active</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Avram Tarasios</td>
                          <td>2012/02/01</td>
                          <td>Staff</td>
                          <td>
                            <span class="badge badge-danger">Banned</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Quintin Ed</td>
                          <td>2012/02/01</td>
                          <td>Admin</td>
                          <td>
                            <span class="badge badge-secondary">Inactive</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Enéas Kwadwo</td>
                          <td>2012/03/01</td>
                          <td>Member</td>
                          <td>
                            <span class="badge badge-warning">Pending</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Agapetus Tadeáš</td>
                          <td>2012/01/21</td>
                          <td>Staff</td>
                          <td>
                            <span class="badge badge-success">Active</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                      <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--/.col-->
            </div>





          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>  