<div class="form-group row">
  <div class="col-md-3">
    <label>Date Input From</label>
    <input id="date-input" [value] = "start_date"  type="date" name="date-input"  placeholder="date" class="form-control" (change)="startDateChange($event);">
    <!-- <span class="help-block">Please enter a valid date</span> -->
  </div>
  <div class="col-md-3">
    <label>Date Input To</label>
    <input id="date-input" [value] = "end_date" type="date" name="date-input" placeholder="date" class="form-control" (change)="endDateChange($event);">
    <!-- <span class="help-block">Please enter a valid date</span> -->
  </div>
</div>

<div class="animated fadeIn">
 
    <!-- Nav tabs -->
    <tabset>
      <tab>
        <ng-template tabHeading>
          <!-- <i class="icon-calculator"></i>  -->
          Actionable Emails
        </ng-template>

        <!-- 3cards code start-->
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header" style="color: blue;text-align: center;">
                Total Received
              </div>
              <div class="card-body">
                <div class="chart-wrapper" style="text-align: center;">
                  {{ actionTotalReceived }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header" style="color: green;text-align: center;">
                Responses
              </div>
              <div class="card-body">
                <div class="chart-wrapper" style="text-align: center;">
                 {{ actionTotalResponse }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header" style="color: red;text-align: center;">
                Avg Response Time
              </div>
              <div class="card-body">
                <div class="chart-wrapper" style="text-align: center;">
                  {{ actionResponseTime }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 3cards code end -->


        <!-- dropdown start -->
        <div class="row">
          <div class="form-group col-sm-2">
            <select class="form-control" #ccmonth1 (change)="actionEmailChange(ccmonth1 .value)">
              <option value="W-MON">By Weekly</option>
              <option value="D">By Daily</option>
              <option value="H">By Hourly</option>
              <option value="M">By Monthly</option>
            </select>
          </div>
        </div>
        <!-- dropdown end -->

        <!-- chart code start -->
        <div class="card-columns cols-2">
          <div class="card">
            <!-- <div class="card-header">
              Bar Chart
              <div class="card-header-actions">
                <a href="http://www.chartjs.org">
                  <small class="text-muted">docs</small>
                </a>
              </div>
            </div> -->
            <div class="card-body">
              <div class="chart-wrapper">
                <h6 style="text-align: center;">Emails by user (Bar)</h6>
                <canvas baseChart class="chart"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="chart-wrapper">
                <h6 style="text-align:center">Workload by user(bar) </h6>
                    <apx-chart
                      [series]="chartHeatOptions.series"
                      [chart]="chartHeatOptions.chart"
                      [dataLabels]="chartHeatOptions.dataLabels"
                      [plotOptions]="chartHeatOptions.plotOptions"
                      [title]="chartHeatOptions.title"
                    ></apx-chart>

              </div>
            </div>
          </div>
          
          
        </div>
        <!-- chart code end -->

        <!-- table code start -->
        <div class="card">
          <div class="card-header" style="text-align: center;">
            <!-- <i class="fa fa-align-justify"></i> -->
             Escalated Emails
          </div>
          <div class="card-body">
            <ag-grid-angular
              [gridOptions]="gridOptions"
              (gridReady)="onGridReady($event)"
            >
            </ag-grid-angular>
            <!-- <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Date Time Received</th>
                  <th>Sender Name</th>
                  <th>Subject</th>
                  <th>To</th>
                  <th>Cc</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let actionData of actionEmails">
                  <td>{{ actionData.DateTime_Received }}</td>
                  <td>{{ actionData.Sender_Name }}</td>
                  <td>{{ actionData.Subject }}</td>
                  <td>{{ actionData.To }}</td>
                  <td>{{ actionData.Cc }}</td>
                </tr>  
              </tbody>
            </table> -->
            <!-- <ul class="pagination">
              <li class="page-item"><a href="#" class="page-link">Prev</a></li>
              <li class="page-item active">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul> -->
          </div>
        </div>
        <!-- table code end -->

      </tab>
      <tab>
        <ng-template tabHeading>
          <!-- <i class="icon-basket-loaded"></i>  -->
          Critical Client Emails
        </ng-template>
        <!-- 3cards code start-->
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header" style="color: blue;text-align: center;">
                Total Received
              </div>
              <div class="card-body">
                <div class="chart-wrapper" style="text-align: center;">
                  {{ criticalTotalReceived }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header" style="color: green;text-align: center;">
                Responses
              </div>
              <div class="card-body">
                <div class="chart-wrapper" style="text-align: center;">
                  {{ criticalTotalResponse }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header" style="color: red;text-align: center;">
                Avg Response Time
              </div>
              <div class="card-body">
                <div class="chart-wrapper" style="text-align: center;">
                  {{ criticalResponseTime }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 3cards code end -->

        <!-- dropdown start -->
        <div class="row">
          <div class="form-group col-sm-2">
            <select class="form-control"  #ccmonth2 (change)="criticalEmailChange(ccmonth2 .value)">
              <option value="W-MON">By Weekly</option>
              <option value="D">By Daily</option>
              <option value="H">By Hourly</option>
              <option value="M">By Monthly</option>
            </select>
          </div>
        </div>
        <!-- dropdown end -->
        <!-- chart code start -->
        <div class="card-columns cols-2">
          
          <div class="card">
            <div class="card-body">
              <div class="chart-wrapper">
                <h6 style="text-align: center;">Emails Receive/Response by Week</h6>
                <canvas baseChart class="chart"
                [datasets]="barChartCriticalData"
                [labels]="barChartCriticalLabels"
                [options]="barChartCriticalOptions"
                [legend]="barChartCriticalLegend"
                [chartType]="barChartCriticalType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
          
         
          <div class="card">
            <div class="card-body">
              <div class="chart-wrapper">
                <h6 style="text-align: center;">Emails Receive/Response by Week</h6>
                <canvas baseChart class="chart"
                    [datasets]="lineChart2Data"
                    [labels]="lineChart2Labels"
                    [options]="lineChart2Options"
                    [colors]="lineChart2Colours"
                    [legend]="lineChart2Legend"
                    [chartType]="lineChart2Type">
                    </canvas>
              </div>
            </div>
          </div>
          
        </div>
        <!-- chart code end -->

        <!-- table code start -->
        <div class="card">
          <div class="card-header" style="text-align: center;">
            <!-- <i class="fa fa-align-justify"></i> -->
            Emails from Critical Clients
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Date Time Received</th>
                  <th>Sender Name</th>
                  <th>Subject</th>
                  <th>To</th>
                  <th>Cc</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let criticalData of criticalEmails">
                  <td>{{ criticalData.DateTime_Received }}</td>
                  <td>{{ criticalData.Sender_Name }}</td>
                  <td>{{ criticalData.Subject }}</td>
                  <td>{{ criticalData.To }}</td>
                  <td>{{ criticalData.Cc }}</td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item"><a href="#" class="page-link">Prev</a></li>
              <li class="page-item active">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
          </div>
        </div>
        <!-- table code end -->

        
      </tab>
      <tab>
        <ng-template tabHeading>
          <!-- <i class="icon-pie-chart"></i>  -->
          Escalated Emails
        </ng-template>

        <!-- 3cards code start-->
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header" style="color: blue;text-align: center;">
                Total Received
              </div>
              <div class="card-body">
                <div class="chart-wrapper" style="text-align: center;">
                  {{ escalatedTotalReceived }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header" style="color: green;text-align: center;">
                Responses
              </div>
              <div class="card-body">
                <div class="chart-wrapper" style="text-align: center;">
                  {{ escalatedTotalResponse }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header" style="color: red;text-align: center;">
                Avg Response Time
              </div>
              <div class="card-body">
                <div class="chart-wrapper" style="text-align: center;">
                  {{ escalatedResponseTime }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 3cards code end -->

        <!-- dropdown start -->
        <div class="row">
          <div class="form-group col-sm-2">
            <select class="form-control" #ccmonth3 (change)="escalatedEmailChange(ccmonth3 .value)">
              <option value="W-MON">By Weekly</option>
              <option value="D">By Daily</option>
              <option value="H">By Hourly</option>
              <option value="M">By Monthly</option>
            </select>
          </div>
        </div>
        <!-- dropdown end -->
        <!-- chart code start -->
        <div class="card-columns cols-2">
          
          <div class="card">
            <!-- <div class="card-header">
              Bar Chart
              <div class="card-header-actions">
                <a href="http://www.chartjs.org">
                  <small class="text-muted">docs</small>
                </a>
              </div>
            </div> -->
            <div class="card-body">
              <div class="chart-wrapper">
                <h6 style="text-align: center;">Top keywords in chaser</h6>
                <canvas baseChart class="chart"
                [datasets]="barChartEscalatedData"
                [labels]="barChartEscalatedLabels"
                [options]="barChartEscalatedOptions"
                [legend]="barChartEscalatedLegend"
                [chartType]="barChartEscalatedType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>
          
          
          <div class="card">
            <div class="card-body">
              <div class="chart-wrapper">
                <h6 style="text-align:center">Workload by user(bar) </h6>
                    <apx-chart
                      [series]="chartHeatOptions2.series"
                      [chart]="chartHeatOptions2.chart"
                      [dataLabels]="chartHeatOptions2.dataLabels"
                      [plotOptions]="chartHeatOptions2.plotOptions"
                      [title]="chartHeatOptions2.title"
                    ></apx-chart>
              </div>
            </div>
          </div>
        </div>
        <!-- chart code end -->

        
        <!-- table code start -->
        <div class="card">
          <div class="card-header" style="text-align: center;">
            <!-- <i class="fa fa-align-justify"></i> -->
             Escalated Emails
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Date Time Received</th>
                  <th>Sender Name</th>
                  <th>Subject</th>
                  <th>To</th>
                  <th>Cc</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let escalatedData of escalatedEmails">
                  <td>{{ escalatedData.DateTime_Received }}</td>
                  <td>{{ escalatedData.Sender_Name }}</td>
                  <td>{{ escalatedData.Subject }}</td>
                  <td>{{ escalatedData.To }}</td>
                  <td>{{ escalatedData.Cc }}</td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item"><a href="#" class="page-link">Prev</a></li>
              <li class="page-item active">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item"><a href="#" class="page-link">2</a></li>
              <li class="page-item"><a href="#" class="page-link">3</a></li>
              <li class="page-item"><a href="#" class="page-link">4</a></li>
              <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
          </div>
        </div>
        <!-- table code end -->
        

      </tab>
    </tabset>
  <!--/.col-->
</div>

  

  