  <div class="form-group row">
    <div class="col-md-3">
      <label>Date Input From</label>
      <input id="date-input" type="date" name="date-input" placeholder="date" class="form-control">
      <!-- <span class="help-block">Please enter a valid date</span> -->
    </div>
    <div class="col-md-3">
      <label>Date Input To</label>
      <input id="date-input" type="date" name="date-input" placeholder="date" class="form-control">
      <!-- <span class="help-block">Please enter a valid date</span> -->
    </div>
  </div>
  <div class="animated fadeIn">
         <!-- chart code start -->
        <div class="card-columns cols-2">
          <div class="card">
            <div class="card-header">
              Pie Chart
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              Pie Chart
            </div>
            <div class="card-body">
              <div class="chart-wrapper">
                <canvas baseChart class="chart"
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
              </div>
            </div>
          </div>

        </div>
        <!-- chart code end -->

        <!-- Heatmap chart start -->
        <div class="row">
          <div class="col-md-12">

            <div class="card">
              <div class="card-header">
                HeatMap Chart
              </div>
              <div class="card-body">
                <div class="chart-wrapper">
                  <!-- https://www.eduforbetterment.com/heat-map-chart-in-angular-using-apexchart/ -->
                  <h1 style="text-align:center">Temprature </h1>
                  <div id="chart">
                    <apx-chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart"
                      [dataLabels]="chartOptions.dataLabels"
                      [plotOptions]="chartOptions.plotOptions"
                      [title]="chartOptions.title"
                    ></apx-chart>
                  </div>
                
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- Heatmap chart end -->
  </div>

  

  